
/* --====================================== Icon Card Module ========================================-- */
/* Icon Card Inner Css */
.icon-card-inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.icon-card-inner .image img {
    transition: all 0.5s ease-out;
}

.icon-card-inner .image img:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.icon-card-inner  .image {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}



 /* --========================================= Title Module =========================================--*/ 
 /* Title css in style one */
.section-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
}
.section-title .short-title {
    font-family: "Rajdhani", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #D9A14C;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}  
.section-title .short-title::after {
    content: "";
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #D9A14C;
    flex: 1 1;
}

.section-title .title {
    font-family: "Rajdhani", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    color: #23262D;
    margin-bottom: 20px;
}


 /* Title css in style two */
.section-title.centered {
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 0;
}
 

 /* Title css in style three */
 .section-title.two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 60px;
}
.section-title .sec-content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
} 
 
.section-title .short-title::before, 
.section-title .short-title::after {
    content: "";
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #D9A14C;
    flex: 1 1;
}
.section-title .title {
    font-family: "Rajdhani", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    color: #23262D;
    margin-bottom: 20px;
}
.section-title.two-column .sec-desc {
    width: 537px;
    font-family: "Rubik", sans-serif;
}
.section-title.two-column .sec-desc .desc {
    margin-bottom: 8px;
}


/* --========================================== Review card Module ======================================-- */
.review-card {
    width: 307px;
    height: 135px;
    background-color: #D9A14C;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    margin-top: 60px;
    position: relative;
    z-index: 2;
    margin-bottom: 24px;
} 
.review-card .icon {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
} 
.card-text:last-child {
    margin-bottom: 0;
}
.review-card .card-text h2 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
}
.review-card .card-text span {
    color: #ffffff;
    text-transform: capitalize;
}
.review-card .card-text span {
    color: #ffffff;
    text-transform: capitalize;
}

/* --======== Absolute Image Module =============-- */
.main-img-inner {
    position: relative;
    height: 650px;
}
.main-img-inner img {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-img-inner .top-image {
    position: absolute;
    top: 294px;
    left: 155px;
    background: rgba(217, 161, 76, 0.15);
    overflow: hidden;
}
.main-img-inner .top-image img {
    position: relative;
    margin-top: 35px;
    margin-left: 31px;
    z-index: 2;
}


/* --======================================== Fancy Box Module ======================================-- */
/* --================ Icon Wrapper Utilities style-one =============-- */
.icon-wrapper {
    padding-right: 6px; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.icon-wrapper .icon {
    width: 65px;
    height: 65px;
}
.icon-wrapper .icon img {
    transition: all 0.5s ease-out;
}
.icon-wrapper.style-one .counter-number-wrapper .counter-number {
    font-size: 68px;
    font-weight: 700;
    line-height: 78.2px;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    opacity: 0.3;
}

 /* --======== Icon Wrapper Utilities style-two =============-- */ 
 .icon-wrapper.style-two  .icon {
    background-color: #D9A14C;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    padding: 8px;
    flex-shrink: 0;
} 
.icon-wrapper.style-two .counter-number-wrapper .counter-number {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #23262D; 
}

/* --=========================== Fancy Box =====================-- */
.fancy-card {
    padding: 40px;
    border: 1px solid #E3E3E3;
    transition: all 0.5s ease-out;
    top: 0;
    position: relative;
}
.fancy-card .fancy-card-inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}
.fancy-card .content-wrapper {
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
} 
.fancy-card .content-wrapper  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.fancy-card  .title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    color: #26262c;
    transition: all 0.6s ease;
    margin-bottom: 20px;
} 
.fancy-card .content .desc {
    transition: all 0.6s ease;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    color: #616670;
}
.fancy-card .content .read-more {
    display: flex;
    justify-content: space-between;
}
.fancy-card .content .read-more a {
    font-family: "Rajdhani", sans-serif;
    font-size: 16px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 700;
    gap: 10px;
    color: #23262D;
    display: flex;
    align-items: center;
} 
.fancy-card:hover {
    transition: all 0.5s ease-out;
    border-color: transparent;
    background-color: #ffffff;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.05);
    top: -5px;
} 
.fancy-card .content .read-more a:hover i {
    color: #D9A14C;
    transition: all 0.5s ease-out;
} 
.fancy-card:hover .icon-wrapper .icon img {
    transition: all 0.5s ease-out;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}


/* --=========================== Subscribe Form Module ============================-- */ 
.subscribe-form-widget {
    padding: 0 74px;
    margin-top: -6px;
}
.subscribe-form-widget .mc4wp-form-fields {
    border-radius: 0;
    gap: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.subscribe-form-widget .mc4wp-form-fields {
    display: flex;
    background-color: transparent;
    overflow: hidden;
}
.subscribe-form-widget .single-field {
    flex-grow: 1;
}
.subscribe-form-widget .single-field input {
    border: 1px solid #E3E3E3;
    color: #23262D;
    padding: 0 20px;
}

.subscribe-form-widget .submit-btn {
    padding: 14px 24px;    
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.28px;
}

.subscribe-form-widget .submit-btn:hover{
    border: 1px solid #E3E3E3;
}


/* --============================== Brand Marquee Module ================================-- */ 

.brand-marquee-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 40px;
    padding: 120px 0;
}
.brand-marquee-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.brand-marquee-wrapper.first-brand-marquee {
    animation: Scroll 32s linear infinite;
}
.brand-marquee-wrapper .single-brand-marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-shrink: 0;
}
.brand-marquee-wrapper .single-brand-marquee .brand-marquee-title {
    font-family: "Rajdhani", sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 78px;
    color: #23262D;
    white-space: nowrap;
}
/* Marquee Animation */
@keyframes Scroll {
  0% {
    transform: translateX(-50vw);
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(50vw);
    transform: translateX(50vw);
  }

}


/* --====================================== Video Pop up Module ========================================-- */
.video-popup-card {
    position: relative;
    overflow: hidden;
}
.video-popup-card .video-popup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-popup-card .video-popup-btn {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
}
.video-popup-card  .video-popup-btn a {
    background-color: #ffffff;
    border: 1px solid #D9A14C;
    width: 140px;
    height: 140px;    
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: ripple 3s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-popup-card  .video-popup-btn a i {
    color: #D9A14C;
    font-size: 30px;
    margin-left: 5px;
}



/*================
 Index two start 
================*/

/* All utilities of index2 here*/

/* checklist utilities */
  .checklist {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-items: center;
}
.checklist .icon {
    font-size: 20px;
    color: #D9A14C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
}
.checklist .text {
    font-size: 16px;
    font-weight: 400;
    line-height: initial;
    margin-bottom: 0;
    color: #616670;
}

/* All Components of index2 here*/
.fancy-card.style-three {
    padding: 0;
    border: 0;
    background-color: #ffffff;
}
.fancy-card.style-three .image {
    position: relative;
    overflow: hidden;
}
.fancy-card.style-three .image img {
    width: 100%;
    transform: scale(1);
    transition: all 0.5s ease-out;
}
.fancy-card.style-three .image .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 17px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.fancy-card.style-three .image .icon img {
    width: auto;
}
.fancy-card.style-three .content-wrapper {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fancy-card.style-three .content-wrapper .title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    color: #26262c;
    transition: all 0.6s ease;
}
.fancy-card.style-three .content-wrapper .content p {
    margin-bottom: 0;
}
.fancy-card.style-three:hover .image img {
    transform: scale(1.03);
    transition: all 0.5s ease-out;
}